 .hero-container
 {position: relative;
height: 225px;
  width: 100%; 
  background-image: url('../../assets/hero.png');
  background-size: cover;    
  background-position: center; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
 border-radius: 16px;
 overflow: hidden;
}
.hero-overlay {
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.55);
  
}

.hero-title {
  z-index: 1;
  font-size: 3rem; /* ajustable */
  text-align: center;
  padding: 0 20px;
}