.card-container{
  background-color: #F6F6F6;
  border-radius: 16px;
  margin: 30px 0;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.card-link{
 padding: 13px 0px;
    text-decoration: none;
    color: black;}