.collapse {
  width: 60vw;
  margin: 20px 0px 20px 0px;
}

.collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;
  background-color: #F2F2F2;
  color: black;
  border-radius: 5px;
  margin-top: 5px;
}

.content.open {
  max-height: 500px;
  padding: 15px;
   text-align: start
}