footer{
    background-color: black;
    height: 15vh;
    padding-top:  10px;
    display: grid;
    justify-content: center;
    align-items: center;}
.footer-logo{
    margin-left: 70px;
}
.copyright{
    margin-top: 10px;
}